# Core Dependencies
/vendor
/node_modules

# Environment & Private Files
.env
.env.*
auth.json
Homestead.json
Homestead.yaml

# Testing & Cache
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
*.log

# IDEs & Editors
/.idea
/.vscode
/.fleet
/.nova
/.zed
.DS_Store
Thumbs.db

# Laravel Specific (if they end up in your package)
/public/build
/public/hot
/storage/*.key
/storage/pail
database.sqlite

# ignore the demo app's local files
example/laravel-demo/vendor
example/laravel-demo/.env
example/laravel-demo/node_modules
example/laravel-demo/storage/logs/
example/laravel-demo/bootstrap/cache/
composer.lock
example/laravel-demo/app/
example/laravel-demo/storage/
example/laravel-demo/.env
.phpunit.result.cache
/vendor
/example/laravel-demo/vendor
/example/laravel-demo/storage
/example/laravel-demo/bootstrap/cache
/example/laravel-demo/.env
composer.lock
example/nextjs-dashboard/
